.search_container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}


.search_input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}


.countries_container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  height: 200px;
}


.countryCard {
  justify-content: center;
  align-items: center;
  border: 1px solid #dad7d7;
  border-radius: 10px;
  width: 200px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;

}


.image {
  width: 100px;
  height: 100px;
}
